@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-ploot-bg: #eceff4;
  --color-ploot-text: #2e3440;
  --color-ploot-outline: #d8dee9;
  --color-ploot-sidebar-bg: #d8dee9;
  --color-ploot-button-text: #d8dee9;
  --color-ploot-button: #4c566a;

}
:root {
  --fc-border-color: #2e3440;
  --fc-event-bg-color: #d8dee9;
  --fc-event-text-color:#2e3440;
}

.fc-event {
  padding: 8px;
  border-color: #2e3440;
}

.fc-toolbar-title {
  color: #2e3440;
}

.fc-col-header-cell {
  color:#2e3440;
}

.fc-timegrid {
  color: #2e3440;

}

.fc-toolbar-chunk {
  color: #2e3440;
}

body {
  margin: 0;
}

.cheesee {
  display: flex;
  justify-content: space-between
}

.yes {
  display: flex;
  flex-direction: row;
  align-items: stretch
}

.calendar-section {
  margin: 8px;
  flex:3
}

.modifying-seciton {
  margin: 8px;
  flex:1
}